.whole{
    background-color: #282828;
    color: white;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  h2{
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 2vh;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 1vh;
    margin-bottom: 2vh;
    box-sizing: border-box;
  }
  
  /* SignupForm.css */
/* ... (other styles) */

#loginbutton {
    width: 100%;
    padding: 10px;
    margin-top: 2vh;
    background-color: rgba(255, 255, 255, 0.1); /* Set a transparent white background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  
    /* Glass effect */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  #loginbutton:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the opacity on hover */
  }
  .formlogininput{
    height: 7vh;
    padding: 1.5vh;
    border-radius: 7px;
    color:black;
  }
  