
  
  .home-container {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(12, 12, 12, 0.8);
    color: #ffffff;
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2em;
  }
  
 
  
  p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  
  
  footer {
    margin-top: 40px;
    text-align: center;
  }
  
  footer p {
    font-size: 0.8em;
  }
  
  /* ParagraphWithImage.css */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw; /* Adjust the maximum width as needed */
}

.leftC {
  flex: 1; /* Take up all available space in the flex container */
  font-size: 150%;
  text-align: justify;
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
}
.rightC {
  flex: 1; /* Take up all available space in the flex container */
  font-size: 150%;
  text-align: justify;
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
}

.leftC p{
  padding: 10%;
}
.rightC p{
  padding: 10%;
}
.imgPic{
  width: 100%;
}
.apple{
  display: flex;
}
#two{
  display: none;
}
@media(max-width:900px){
  .apple{
    display: block;
  }
  #one{
    display: none;

  }
  #two{
    display: block;
  }
}