.postbox {
    display: flex;
    justify-content: center;
}

/* PostTabs.css */
.post-box {
    max-height: max-content;
}

.tabContent {
    padding: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
}
.sticky{
    position: sticky;
    position: -webkit-sticky;
    bottom: 5px;
    background-color: #334477;
    margin-left: 1vh;
    margin-right: 1vh;

    border-radius: 15px;
}
.post-contentx {
    text-align: justify;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-size: 3.3vh;
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.tabc {
    width: 100%;
    word-wrap: break-word;
}

a {
    color: #6eceee;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Style for visited links */
a:visited {
    color: #6eceee;
    /* Visited link color */
}

/* Style for hovered links */
a:hover {
    color: #2ecc71;
    /* Hovered link color */
}

/* Style for active/focused links */
a:active,
a:focus {
    color: #e74c3c;
    /* Active/focused link color */
}

.active {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}
.popup {
    height: max-content;
    padding: 2%;
    border: 1px solid #000;
    background-color: #121212;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }
#x{
    position: fixed;
    top: 5%;
    left:80%;
    width: 15%;
    height: 30%;
    background-color: #121212;
}
#refContainer{
    padding: 2vh;
    margin: 1vh;
    background-color: #121212;
    border-radius: 15px;
    height: max-content;
}