/* You can adjust these styles based on your design preferences */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 1vw 2vw;
  /* Adjust padding as needed */
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.App-logo {
  width: 4vh;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 0.7vw;
  /* Adjust margin as needed */
}

.h1 {
  margin: 0;
  /* Remove default margin for h1 */
  color: white;
  font-size: 1.5vw;
  font-weight: 500;
}


.nav-list {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
  display: flex;
}

.nav-item {
  /* Adjust margin between items as needed */
  margin:1vh;
  font-size: 1.4vw;
  text-align: center;
}
@media(max-width:900px) {
  .h1{
    font-size: 1.5vw;
  }
  .App-logo{
    width: 1vh;
  }
  .nav-item{
    width: 13.5vw;
    margin:1vw;
  }
  .nav-link{
    font-size: 3vw;
    width: 13vw;
  }
  .log{
    padding-top: 1vh;
  }
  
}
@media(max-width:700px) {
 
  #logoof{
    width: 5vh;
  }
  .nav-item{
    width: 18vw;
    margin:0.51vw;
  }
  .nav-link{
    font-size: 3.5vw;
    width: 13vw;
  }
  .log{
    padding-top: 1vh;
  }
  #trynow{
    width: 11vw;
  }
  h1{
    font-size: 2.8vw;
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  /* Example link color */
  padding: 2vh;

}


.try{
  width: 9vw;
  border: 1px solid white;
  border-radius: 15px;
  padding-bottom: 1vh;

  text-align: center;
}
.try:hover{
  background-color: white;
  #trytext {
    color:black;
  }

}

